.welfareImageMainBox{
    width:100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:4rem;
}

.welfareImageBox{
    /* width:280px; */
    height:200px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 10px;
}

.welfareImageMainBoxMobile{
    display: none;
}
@media (min-width: 1550px) {
   .welfareImageBox{
    grid-template-columns: repeat(4, 1fr);
   }
}
@media (max-width: 900px) {
    .welfareImageBox{
        grid-template-columns: repeat(2, 1fr);
       } 
}
@media (max-width: 900px) {
   .welfareImageMainBox{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
   }
   .welfareImageMainBoxMobile{
    display: block;
   }

}


