/* Carousal*/

.slider-containerImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    padding: 4rem 0rem;
    z-index: 2000;
    background-color: transparent;
  }
  
  .slider-boxImage {
    display: flex;
    overflow: hidden;
    width: 90%;
  }
  
  .sliderImage {
    display: flex;
    width: 100%;
  }
  
  .boxImage {
    display: flex;
    align-items: center;
  }
  
  .box-itemImage {
    width: 160px;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: auto;
    min-height: 120px;
    /* border: 2px solid rebeccapurple; */
  }
  
 
  
  
  .box-itemImage img {
    object-fit: contain;
    margin-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .boxLine {
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: auto;
  }
  
  .nextImage,
  .prevImage {
    background-color: transparent;
    border-radius: 50%;
    padding: 12px 16px;
    border: none;
  }
  
  @media only screen and (max-width: 769px) {
    .next,
    .prev {
      display: none;
    }
  
    /* .box-itemImage {
      width: 175px;
      min-height: 265px;
    } */
  
   
  
  }