.donationForm{
    gap: 0.7rem;
}
.donationForm input{
    height: 40px;
    border-radius: 5px;
}

.donationForm label{
font-size: 18px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0.02em;
text-align: left;

}

.accoutnDetails{
margin-top: 3rem;
font-size: 18px;
font-weight: 400;
line-height: 37.4px;
letter-spacing: 0.06em;
color: white;

}

.donationForm button {
    margin-top: 1rem;
    background: linear-gradient(96.02deg, #0F004F 0.29%, #22009A 100.29%);
    width: 154px;
    height: 52px;
    border-radius: 5px;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.04em;
    align-self: center; /* Center the button horizontally */
    cursor: pointer; /* Change cursor to pointer on hover */
  }